.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  padding: 40px 0;
  gap: 20px;

  &__title {
    text-transform: uppercase;
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__link {
    background-color: $white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.1);
    }

    img {
      height: 30px;
      width: 30px;
    }
  }
}
