.header {
  &__container {
    background-color: $primary-color;
    // display: flex;
    // justify-content: center;
    width: 100%;
  }
  & {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__logo {
  }
  &__search {
    &--input {
    }
    &--btn {
      border: none;
      background: none;
      cursor: pointer;
      &:active {
        transform: scale(0.95);
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  &__nav {
    &--item {
    }
  }
}
